Options +FollowSymLinks -MultiViews

RewriteEngine On
RewriteCond %{THE_REQUEST} ^.*/index(\.*)
RewriteRule ^(.*)index.php$ /$1 [R=301,L]

RewriteCond %{REQUEST_URI} !\.ico [NC]
RewriteRule !^static($|/) index.php [L]